<head>
            <meta charset="utf-8">
            <title>Mary August Hamilton Art</title>
            {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
            <meta name="author" content="{{ site.author.name }}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap Stylesheet -->
            <link rel="stylesheet" type="text/css" href="assets/themes/bootstrap/css/bootstrap.min.css">
            <!-- Custom Stylesheet -->
            <link rel="stylesheet" type="text/css" href="assets/themes/bootstrap/css/custom.css">
            <!--[if lt IE 9]>
              <script src="{{ ASSET_PATH }}/resources/respond/Respond.min.js"></script>
            <![endif]-->
            <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
            <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
            <!-- Google Hosted JQuery and JS libraries -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
            <!-- Font Awesome Icons -->
            <link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
            <script src="assets/themes/bootstrap/resources/bootstrap/js/pintrestjs.js"></script>
</head>